body
{
margin:0;
padding:0;
background-color:white;
}

.mn
{
top:0;
}

.footer{
height:50px;
width:100%;
background-color:white;
position:fixed;
left:0;
bottom:0;
text-align:center;
font-weight:bold;
}