<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="carousel-item active">
      <img src="{% static 'images/img.png' %}" class="d-block w-100" alt="...">


<div class="container-fluid mt-4" style="margin-bottom:50px;">
    <h3 class="text-center" style="margin-bottom:50px;"><u>About us</u></h3>



<p class="text-center"><b>IMPRESA - Your Ultimate Destination for Indian Traditional Wear</b><br><br>
    At <b>IMPRESA</b>, we bring you an exquisite collection of Indian ethnic fashion. As a one-stop online platform,<br> we host a wide range of sarees from various parts of India, along with other glorious Indian traditional attire.<br><br>
    <b>Qality and Tradition:</b>
Our core focus is on good quality products that showcase the rich heritage of Indian handlooms, crafts, and weaves.<br>
With a solid backing of over 50 years of fashion legacy from Asopalav, we assure you of uncompromised quality and the latest designs.</p>

<div class="row md-4 text-center" style="left:50;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-dark bg-white"><b>Impresa Office</b></div>
  <div class="card-body">
    <p class="card-text">Near St George Church,<br>
     Malipuram p.o,Vypin,<br>Ernakulam- 682511<br>
Kerala, India</p>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header  text-dark bg-white"><b>Contact us</b></div>
  <div class="card-body">
    <p class="card-text"><i class="fa-solid fa-phone"></i>7025160977</p>
      <p class="card-text">Open:<br> Monday-Sunday</p>
  </div>
</div></div>

    {% endblock %}
</div></div></div>