{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2 class="text-center">REGISTER</h2>

<center>
  <div class="card mb-4" style="width:450px;background-color:#FCE4EC;">
    <form method="POST" style="margin-top:50px;">
{% csrf_token %}
<div class="form-floating mb-4 col-sm-9">
  <input type="text" class="form-control"  name="u" placeholder="UserName">
  <label>Username</label>
</div>
<div class="form-floating mb-3 col-sm-9">
  <input type="password" class="form-control"  name="p" placeholder="Password">
  <label>Password</label>
</div>
  <div class="form-floating mb-3 col-sm-9">
  <input type="password" class="form-control"  name="cp" placeholder="Confirm password">
  <label>Confirm password</label>
</div>
<div class="form-floating mb-3 col-sm-9">
  <input type="email" class="form-control" name="e" placeholder="Email">
  <label>Email</label>
</div>
<div class="mb-3 col-sm-6">
   <button type="submit" class="form-control btn btn-primary" style="margin-bottom:50px;">REGISTER</button>
</div>
</form>
  </div>
</center>


{% endblock %}